
 <h1> Morgan Elizabeth O'Leary</h1>
 <p id="index-title"> Welcome to my personal and professional blog</p>

 <div class="posts">Tech Posts</div>
 <div class="posts">Job Hunt</div>

 <img src= '../assets/images/logo.svg'>
